# **Set trong Python**

#Cách mở Mục Lục

![image.png]()

# I. Giới thiệu về Set

***Kiểu dữ liệu Set*** Set (tập hợp) là một cấu trúc dữ liệu **không thể thao tác sắp xếp**, **lưu theo thứ tự**, **không thể lập chỉ mục** và **không chứa các phần tử trùng lặp**.

***Khởi tạo Set*** bằng cặp dấu ngoặc nhọn ***( {} )*** và các phần tử của Set được liệt kê bên trong.

***Mỗi phần tử*** trong Set là ***duy nhất*** và ***không thể có các phần tử trùng lặp***, các phần tử cách nhau bởi ***dấu phẩy ( , )***.

In [12]:
setFruits = {"apple", "cherry", "banana"}
print(setFruits)

{'cherry', 'banana', 'apple'}

In [13]:
# Lưu ý khi khởi tạo set:

print(type({})) # {} rỗng = dictionary rỗng

print(type({'a'})) # {} chứa các phần tử không phải dạng key-value thì sẽ là kiểu dữ liệu set
print(type({'a':'b'}))

<class 'dict'>
<class 'set'>
<class 'dict'>

In [14]:
temp = {'c', 'b', 'e', 'a', 5, 1, 4, 2, 3}
print(temp)

{1, 2, 'b', 4, 5, 3, 'c', 'e', 'a'}

# II.Thao tác với Set

## 1.Truy cập các phần tử của Set trong Python
***Không thể truy cập các phần tử trong một Set bằng cách sử dụng chỉ mục***

Vì Set không lưu trữ các phần tử theo thứ tự nhập ban đầu.

Tuy nhiên, có thể sử dụng vòng lặp for để truy cập các phần tử của một Set, ví dụ:

In [15]:
# Duyệt các phần tử của một Set và in các giá trị ra màn hình:

setFruits = {"apple", "cherry", "banana"}

for x in setFruits:
    print(x)

cherry
banana
apple

Hoặc sử dụng từ khóa ***in*** để kiểm tra xem phần tử có tồn tại trong Set hay không.

In [16]:
setFruits = {"apple", "cherry", "banana"}

x = "apple" in setFruits
print(x)

True

## 2.Thay đổi các giá trị của một item trong Set

***Không thể thay đổi các item*** của Set.

## 3.Thêm các item vào một Set

Để thêm một item vào một set, sử dụng hàm ***add()***

Để thêm nhiều item vào một set, sử dụng hàm ***update()***

Ví dụ:

In [17]:
# Thêm 1 item bằng hàm add()

setFruits = {"apple", "cherry", "banana"}
setFruits.add("kiwi")

print(setFruits)

{'cherry', 'banana', 'kiwi', 'apple'}

In [18]:
# Thêm nhiều item bằng hàm update()

setFruits = {"apple", "cherry", "banana"}
setFruits.update(["orange", "mango", "grapes"])

print(setFruits)

{'grapes', 'apple', 'banana', 'orange', 'cherry', 'mango'}

## 4.Độ dài của một Set

Hàm len() được sử dụng để xem có bao nhiêu item trong một set:

In [19]:
setFruits = {"apple", "cherry", "banana"}
print(len(setFruits))

3

## 5.Xóa một phần tử từ Set

Để ***xóa*** một phần tử ***cụ thể*** trong một set, sử dụng hàm ***remove()*** hoặc ***discard()***

### Sử dụng hàm remove()

In [20]:
setFruits = {"apple", "cherry", "banana"}
setFruits.remove("banana")

print(setFruits)

{'cherry', 'apple'}

*Nếu phần tử không tồn tại trong Set, nó sẽ sinh ra một ngoại lệ (exception) có tên là KeyError - không thể tìm thấy khóa mà bạn đã nhập.*

In [21]:
setFruits = {"apple", "cherry", "banana"}
#setFruits.remove("orange")

print(setFruits)

{'cherry', 'banana', 'apple'}

### Sử dụng hàm discard()

In [22]:
setFruits = {"apple", "cherry", "banana"}
setFruits.discard("banana")

print(setFruits)

{'cherry', 'apple'}

*Nếu phần tử không tồn tại trong Set, discard() sẽ không sinh ra bất kỳ ngoại lệ nào, mà chỉ đơn giản là không làm gì cả.*

In [23]:
setFruits = {"apple", "cherry", "banana"}
setFruits.discard("orange")
print(setFruits)

{'cherry', 'banana', 'apple'}

### Sử dụng hàm pop()

Hàm ***pop()***, để xóa một phần tử, nhưng phương thức này sẽ xóa phần tử cuối cùng. Nhưng set không có thứ tự, vì vậy bạn sẽ không biết mục nào bị xóa, có thể nói là ***xoá một cách ngẫu nhiên.***

Giá trị trả về của hàm pop() là phần tử bị xóa.

In [24]:
setFruits = {"apple", "banana", "cherry"}
x = setFruits.pop()

print("Phần tử bị xoá: ", x)
print("Phần tử còn lại: ", setFruits)

Phần tử bị xoá:  cherry
Phần tử còn lại:  {'banana', 'apple'}

### Sử dụng hàm clear()

Hàm ***clear()*** được sử dụng để loại bỏ tất cả các phần tử khỏi Set, làm cho Set trở thành rỗng

In [25]:
setFruits = {"apple", "cherry", "banana"}
setFruits.clear()

print(setFruits)
print("Số lượng phần tử:", len(setFruits))

set()
Số lượng phần tử: 0

### Sử dụng từ khóa del

Từ khoá ***del*** được sử dụng để xóa một biến, biến có thể là bất kỳ kiểu dữ liệu nào có thể thay đổi (Mutable)

***Mutable***: các đối tượng ***có thể thay đổi*** được các phần tử bên trong như thêm, xoá, sửa như list, dictionary và set.

***Immutable***: các đối tượng ***không thể thay đổi*** sau khi chúng được tạo ra như integer, float, string, typle, ...

In [28]:
setFruits = {"apple", "cherry", "banana"}
del setFruits # Xoá biến setFruits

# Do đã bị xóa nên biến setFruits sẽ không tồn tại,
# nên sẽ xuất hiện lỗi "NameError: name 'setFruits' is not defined",
# nghĩa là biến chưa được định nghĩa.
#print(setFruits)

## 6.Nối 2 set trong Python

Hàm ***union()*** trả về một ***set mới chứa tất cả các phần tử từ cả hai Set***.

In [29]:
set1 = {"M", "e", "t", "a"}
set2 = {'M', "i", "n", "d"}

set3 = set1.union(set2)
print(set3) # "M" chỉ được xuất hiện 1 lần nếu bị trùng khi gộp
set3 = set1 | set2
print(set3)

# Hợp |
# Giao &
# Hiệu -

{'d', 'M', 't', 'n', 'e', 'a', 'i'}
{'d', 'M', 't', 'n', 'e', 'a', 'i'}

Hàm ***update()*** sẽ ***chèn tất cả các mục từ set này sang set khác***.

In [30]:
set1 = {"M", "e", "t", "a"}
set2 = {'M', "i", "n", "d"}

set1.update(set2)
print(set1)

{'d', 'M', 't', 'n', 'e', 'a', 'i'}

## 7.Constructor set()

Hàm khởi tạo ***set()*** để tạo một set dựa vào các kiểu dữ liệu khác.

In [31]:
tupleFruits = ("apple", "banana", "cherry") # Kiểu Tuple
listFruits = ["apple", "banana", "cherry"] # Kiểu List
dictFruits = {"apple":"", "banana":"", "cherry":""} # Kiểu Dictionary
setFruits = {"apple", "banana", "cherry"} # Kiểu Set

# Chuyển sang Set
setFruits1 = set(tupleFruits)
setFruits2 = set(listFruits)
setFruits3 = set(dictFruits)
setFruits4 = set(setFruits)

print(setFruits1)
print(setFruits2)
print(setFruits3)
print(setFruits4)

{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'apple'}

## 8.Tổng hợp các phương thức Set trong Python

<table class="alt">
<tbody>
<tr>
<th>Hàm</th>
<th>Mô tả</th>
</tr>
<tr><td>add()</td><td>Thêm một phần tử tới set</td></tr>
<tr><td>clear()</td><td>Xóa tất cả các phần tử của một set</td></tr>
<tr><td>copy()</td><td>Returns a copy of the set</td></tr>
<tr><td>difference()</td><td>Trả về một set chứa các phần tử khác nhau của 2 hoặc nhiều set</td></tr>
<tr><td>difference_update()</td><td>Xóa các phần tử của set này mà tồn tại trong set khác</td></tr>
<tr><td>discard()</td><td>Xóa phần tử được chỉ định.</td></tr>
<tr><td>intersection()</td><td>Trả về một set mà các phần tử của nó tồn tại trong cả 2 set đã cho.</td></tr>
<tr><td>intersection_update()</td><td>Xóa các phần tử của set này mà không tồn tại trong set kia.</td></tr>
<tr><td>isdisjoint()</td><td>Trả về true nếu không có phần tử nào trong một set trùng với phần tử nào trong set thứ 2. Trả về false nếu có bất kỳ phần tử nào trong set ban đầu giống với set thứ 2</td></tr>
<tr><td>issubset()</td><td>Trả về true nếu tất cả các phần tử trong một set tồn tại trong set2, ngược lại trả về false.</td></tr>
<tr><td>issuperset()</td><td> Trả về true nếu tất cả các phần tử trong set2 tồn tại trong một set, ngược lại trả về false.</td></tr>
<tr><td>pop()</td><td>Xóa phần tử cuối cùng của một set.</td></tr>
<tr><td>remove()</td><td>Xóa phần tử được chỉ định.</td></tr>
<tr><td>symmetric_difference()</td><td>Trả về một set mà chứa các phần tử của cả 2 set đã cho, sao cho các phần tử này tồn tại trong set này nhưng không tồn tại trong set kia.</td></tr>
<tr><td>symmetric_difference_update()</td><td>Cập nhật set ban đầu bằng việc loại bỏ phần tử của cả 2 set đã cho, sao cho các phần tử này tồn tại trong set này nhưng không tồn tại trong set kia.</td></tr>
<tr><td>union()</td><td>Trả về môt set mà được nối từ 2 set với nhau.</td></tr>
<tr><td>update()</td><td>Nối set này với set khác.</td></tr>
</tbody></table>

# III. Bài tập về Set

## Bài tập 1: Loại bỏ các phần tử trùng lặp từ danh sách

Bạn có một danh sách chứa các phần tử, trong đó một số phần tử có thể xuất hiện nhiều lần. Hãy loại bỏ các phần tử trùng lặp và in ra danh sách mới chỉ chứa các phần tử duy nhất.

Yêu cầu:
1. Tạo một danh sách chứa các phần tử 1, 2, 3, 4, 2, 3, 5.
2. Sử dụng set để loại bỏ các phần tử trùng lặp.
3. In ra danh sách mới chỉ chứa các phần tử duy nhất.

###Answer

In [32]:
# 1. Danh sách ban đầu có phần tử trùng lặp
danh_sach = [1, 2, 3, 4, 2, 3, 5]
danh_sach

[1, 2, 3, 4, 2, 3, 5]

In [33]:
# 2. Tạo set từ danh sách để loại bỏ các phần tử trùng lặp
danh_sach_unique = set(danh_sach)
danh_sach_unique

{1, 2, 3, 4, 5}

In [34]:
# 3. In ra danh sách mới chỉ chứa các phần tử duy nhất
print("Danh sách mới sau khi loại bỏ các phần tử trùng lặp:")
print(list(danh_sach_unique))

Danh sách mới sau khi loại bỏ các phần tử trùng lặp:
[1, 2, 3, 4, 5]

## Bài tập 2: Tính hợp hai tập hợp

Bạn đang có hai danh sách chứa thông tin về những người bạn có hai sở thích khác nhau. An, Bình, Châu thích uống cafe còn Bình, Dung, Giang lại thích uống trà sữa. Bạn muốn kết hợp hai danh sách này để biết được tên tất cả những người bạn của mình.


Yêu cầu:
1. Tạo hai tập hợp (set) chứa tên của những người bạn với sở thích khác nhau.
2. Kết hợp hai tập hợp này để biết được tất cả những người bạn của mình.
3. In ra danh sách tất cả những người bạn.

###Answer

In [35]:
# 1. Tạo hai tập hợp chứa tên của những người bạn trong hai sở thích khác nhau
cafe = {"An", "Bình", "Châu"}
tra_sua = {"Bình", "Dung", "Giang"}

In [36]:
# 2. Kết hợp hai tập hợp để biết được tất cả những người bạn
all = set(cafe).union(tra_sua)
#all = cafe | tra_sua

In [37]:
# In ra danh sách tất cả những người bạn
print("Tất cả những người bạn:")
print(all)

Tất cả những người bạn:
{'Dung', 'Bình', 'An', 'Châu', 'Giang'}

## Bài tập 3: Kiểm tra sự giao nhau giữa hai tập hợp

Bạn muốn kiểm tra xem có người bạn nào xuất hiện trong cả hai danh sách không.

Yêu cầu:
1. Dựa trên 2 set đã tạo ở bài tập 2, kiểm tra xem có bất kỳ phần tử nào xuất hiện trong cả hai tập hợp.
2. In ra kết quả của việc kiểm tra.

###Answer

In [38]:
# Kiểm tra xem có bất kỳ phần tử nào xuất hiện trong cả hai tập hợp không
giao = set(cafe).intersection(tra_sua)
#giao = cafe & tra_sua

In [39]:
# In ra kết quả của việc kiểm tra
if giao:
    print("Có sự giao nhau giữa hai tập hợp.")
    print("Các phần tử chung là:", giao)
else:
    print("Không có sự giao nhau giữa hai tập hợp.")

Có sự giao nhau giữa hai tập hợp.
Các phần tử chung là: {'Bình'}