# **Tuple trong Python**

##Mục lục

1. Giới thiệu về Tuple trong Python
2. Các thao tác với Tuple
- Tạo một tuple
- Truy cập các phần tử tuple
  - Index (chỉ mục) của Tuple
  - Index (chỉ mục) âm
  - Slicing
- Thay đổi phần tử Tuple
- Xóa phần tử Tuple
- Kiểm tra phần tử trong Tuple
- Lặp qua các phần tử của Tuple
3. Phương thức dùng với Tuple trong Python
4. Các hàm dùng với Tuple
5. - Bài tập
   - Answer
*End*

#1. Giới thiệu về Tuple trong Python

Tuple trong Python là một kiểu dữ liệu dùng để lưu trữ các đối tượng có thứ tự và bất biến. Cách lưu trữ của nó cũng khá giống với kiểu dữ liệu List. Tuy nhiên, sự khác biệt giữa List và Tuple, đó là List có thể thay đổi (mutability) trong khi Tuple là bất biến (immutability).

#2. Các thao tác với Tuple

## Tạo một Tuple
Tuple thường được sử dụng cho các dữ liệu không cho phép sửa đổi. Chúng được tạo ra bằng cách đặt tất cả các items/elements bên trong dấu ngoặc đơn `()` và được phân tách bằng dấu phẩy `,` .

In [11]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed data types
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

Một Tuple cũng có thể được tạo mà không cần sử dụng dấu ngoặc đơn, được gọi là `tuple packing`.

In [12]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

Để viết một tuple chứa một giá trị duy nhất, bạn bắt buộc phải thêm một dấu phẩy đằng sau giá trị đó:

In [13]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

## Truy cập các phần tử Tuple
Có nhiều cách khác nhau để chúng ta có thể truy cập các phần tử của một tuple.

## Index (chỉ mục) của Tuple
Sử dụng toán tử index `[]` để truy cập vào một phần tử của tuple. Index bắt đầu từ 0, nên một tuple có 6 phần tử sẽ có index từ 0 đến 5. Truy cập vào phần tử có index khác index của tuple sẽ làm phát sinh lỗi `IndexError`. Index phải là một số nguyên, không thể sử dụng float, hay kiểu dữ liệu khác, sẽ tạo lỗi `TypeError`.

In [14]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p'
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
t
s
4

## Index (chỉ mục) âm
Python cho phép lập chỉ mục âm cho các chuỗi. Index -1 là phần tử cuối cùng, -2 là phần tử thứ 2 từ cuối cùng lên,…. Nói đơn giản là index âm dùng khi bạn đếm phần tử của chuỗi ngược từ cuối lên đầu.

In [15]:
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

## Slicing
Chúng ta có thể truy cập một loạt các phần tử trong một tuple trong Python bằng cách sử dụng dấu hai chấm : của toán tử cắt (Slicing).

In [16]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

## Thay đổi phần tử Tuple
Không giống như List, Tuple không thể thay đổi. Điều này có nghĩa là các phần tử của một tuple không thể thay đổi một khi đã được gán. Nhưng, nếu bản thân phần tử đó là một kiểu dữ liệu có thể thay đổi (như list chẳng hạn) thì các phần tử lồng nhau có thể được thay đổi. Chúng ta cũng có thể gán giá trị khác cho tuple (gọi là gán lại – reassignment).

In [17]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

Ngoài ra, chúng ta có thể sử dụng toán tử + để kết hợp hai tuple, hoặc cũng có thể lặp lại các phần tử trong một tuple với một số lần nhất định bằng cách sử dụng toán tử *. Cả hai phép toán + và * đều dẫn đến một tuple mới.

In [18]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

## Xóa phần tử Tuple
Như đã thảo luận ở trên, chúng ta không thể thay đổi các phần tử trong một tuple. Điều này có nghĩa là, bạn không thể xóa hoặc loại bỏ các giá trị ra khỏi một tuple mà chỉ có thể xóa cả tuple đi mà thôi.

Để xóa một hay nhiều tuple thì chúng ta sử dụng hàm `del`.

In [19]:
# Deleting tuples
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
#print(my_tuple)

## Kiểm tra phần tử trong Tuple
Bạn có thể kiểm tra xem một phần tử đã tồn tại trong tuple hay chưa với từ khóa `in`.

In [20]:
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

## Lặp qua các phần tử của Tuple trong Python
Sử dụng vòng lặp `for` để lặp qua các phần tử trong tuple:

In [21]:
# Using a for loop to iterate through a tuple
names = ('John', 'Kate')
for name in names:
    print("Hello", name)

Hello John
Hello Kate

#3. Phương thức dùng với Tuple trong Python

Rõ ràng, phương thức thêm phần tử và xóa phần tử không thể sử dụng với tuple. Tuy nhiên,  có 2 phương thức sau bạn có thể ghi nhớ để sử dụng:

* **count(x):** Đếm số phần tử x trong tuple
* **index(x):** Trả về giá trị index của phần tử x đầu tiên mà nó gặp trong tuple

In [22]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

#4. Các hàm dùng với Tuple

<table class="alt">
<tbody><tr>
<th style="width:5%">STT</th><th style="width:45%">Hàm</th><th style="width:50%">Miêu tả</th></tr>
<tr><td>1</td><td>len(tuple)</td><td>Trả về độ dài của tuple</td></tr>
<tr><td>2</td><td>max(tuple)</td><td>Trả về item có giá trị lớn nhất từ một tuple đã cho</td></tr>
<tr><td>3</td><td>min(tuple)</td><td>Trả về item có giá trị nhỏ nhất từ một tuple đã cho</td></tr>
<tr><td>4</td><td>tuple(seq)</td><td>Chuyển đổi một dãy thành tuple</td></tr>
</tbody></table>

In [23]:
# Khai báo một tuple
my_tuple = (10, 20, 30, 40, 50)

In [24]:
# Sử dụng hàm len() để lấy độ dài của tuple
length = len(my_tuple)

print("Độ dài của tuple:", length)

Độ dài của tuple: 5

In [25]:
# Sử dụng hàm max() để lấy giá trị lớn nhất trong tuple
max_value = max(my_tuple)

print("Giá trị lớn nhất trong tuple:", max_value)

Giá trị lớn nhất trong tuple: 50

In [26]:
# Sử dụng hàm min() để lấy giá trị nhỏ nhất trong tuple
min_value = min(my_tuple)

print("Giá trị nhỏ nhất trong tuple:", min_value)

Giá trị nhỏ nhất trong tuple: 10

In [27]:
# Sử dụng hàm tuple() để chuyển đổi một dãy thành tuple
my_list = [1, 2, 3, 4, 5]
converted_tuple = tuple(my_list)

print("Tuple sau khi chuyển đổi từ list:", converted_tuple)

Tuple sau khi chuyển đổi từ list: (1, 2, 3, 4, 5)

#5. Bài tập về Tuple

##**Bài tập**

### Bài tập 1: Quản lý sản phẩm

Do công ty nợ lương, bạn xin nghỉ về nhà bán quần áo online, bạn cần quản lý thông tin về các sản phẩm. Mỗi sản phẩm được đại diện bởi một tuple gồm tên sản phẩm, giá tiền và số lượng tồn kho.

Yêu cầu:

1. Tạo một tuple chứa thông tin về sản phẩm đầu tiên: `("Áo thun", 150000, 50)`.
2. Thay đổi giá tiền của sản phẩm đó thành 170000.
3. In ra số lượng tồn kho của sản phẩm đó.
4. Tạo một danh sách chứa thông tin về sản phẩm gồm ít nhất 3 sản phẩm, và in ra tổng số lượng tồn kho của tất cả các sản phẩm.

### Bài tập 2: Quản lý điểm số

Quay về với đội tuyển tiếng Anh, do danh sách chỉ có điểm số nên bạn không biết điểm nào là của ai. Lớp bạn có 4 học sinh là An, Bảo, Châu, Đạt với điểm thi lần lượt là 10, 9.6, 9.5, 9.4. Mỗi học sinh được đại diện bởi một tuple gồm tên học sinh và điểm số.

Yêu cầu:

1. Tạo một danh sách chứa thông tin về điểm số, mỗi học sinh là một tuple gồm tên và điểm số.
2. In ra điểm số cao nhất và thấp nhất trong danh sách.
3. In ra tên của học sinh có điểm số cao nhất và thấp nhất.

### Bài tập 3: Phân loại học sinh

Đội tuyển trượt giải nên bạn bị phân về dạy lớp thường, bạn muốn phân loại các học sinh trong lớp của mình dựa trên điểm số. Cao hơn hoặc bằng 8 là học sinh giỏi.

Yêu cầu:

1. Tạo một danh sách chứa thông tin về điểm số của ít nhất 5 học sinh, mỗi học sinh là một tuple gồm tên và điểm số.
2. Dùng hàm `len()` để tính số lượng học sinh có điểm số cao hơn hoặc bằng 8.
3. Tạo danh sách gồm tên học sinh giỏi trong lớp của bạn.
4. Hiện tại bạn đã có danh sách học sinh giỏi để nộp lên nhà trường xin giấy khen, hãy dùng hàm tuple() để bảo vệ dữ liệu không bị sửa đổi.

##**Answer**

### Bài tập 1: Quản lý sản phẩm

Do công ty nợ lương, bạn xin nghỉ về nhà bán quần áo online, bạn cần quản lý thông tin về các sản phẩm. Mỗi sản phẩm được đại diện bởi một tuple gồm tên sản phẩm, giá tiền và số lượng tồn kho.

Yêu cầu:

1. Tạo một tuple chứa thông tin về sản phẩm đầu tiên: `("Áo thun", 150000, 50)`.
2. Thay đổi giá tiền của sản phẩm đó thành 170000.
3. In ra số lượng tồn kho của sản phẩm đó.
4. Tạo một danh sách chứa thông tin về sản phẩm gồm ít nhất 3 sản phẩm, và in ra tổng số lượng tồn kho của tất cả các sản phẩm.

###Answer

In [28]:
# Tạo tuple chứa thông tin về sản phẩm đầu tiên
san_pham_1 = ("Áo thun", 150000, 50)

In [29]:
san_pham_1

('Áo thun', 150000, 50)

In [30]:
# Thay đổi giá tiền của sản phẩm đó
san_pham_1 = san_pham_1[0], 170000, san_pham_1[2]

In [31]:
san_pham_1

('Áo thun', 170000, 50)

In [32]:
# In ra số lượng tồn kho của sản phẩm đó
print("Số lượng tồn kho của sản phẩm đó là:", san_pham_1[2])

Số lượng tồn kho của sản phẩm đó là: 50

In [33]:
# Tạo danh sách sản phẩm
danh_sach_san_pham = [
    ("Áo thun", 150000, 50),
    ("Quần jean", 300000, 30),
    ("Áo khoác", 500000, 20)
]

In [34]:
# Tính tổng số lượng tồn kho của tất cả các sản phẩm
tong_ton_kho = sum([san_pham[2] for san_pham in danh_sach_san_pham])
print("Tổng số lượng tồn kho của tất cả các sản phẩm là:", tong_ton_kho)

Tổng số lượng tồn kho của tất cả các sản phẩm là: 100

### Bài tập 2: Quản lý điểm số

Quay về với đội tuyển tiếng Anh, do danh sách chỉ có điểm số nên bạn không biết điểm nào là của ai. Lớp bạn có 4 học sinh là An, Bảo, Châu, Đạt với điểm thi lần lượt là 10, 9.6, 9.5, 9.4. Mỗi học sinh được đại diện bởi một tuple gồm tên học sinh và điểm số.

Yêu cầu:

1. Tạo một danh sách chứa thông tin về điểm số, mỗi học sinh là một tuple gồm tên và điểm số.
2. In ra điểm số cao nhất và thấp nhất trong danh sách.
3. In ra tên của học sinh có điểm số cao nhất và thấp nhất.

###Answer

In [35]:
# Danh sách điểm số của học sinh
diem_hoc_sinh = [
    ("An", 10),
    ("Bao", 9.6),
    ("Chau", 9.5),
    ("Dat", 9.4),
]

In [36]:
# In ra điểm số cao nhất và thấp nhất
diem_cao_nhat = max([diem for ten, diem in diem_hoc_sinh])
diem_thap_nhat = min([diem for ten, diem in diem_hoc_sinh])
print("Điểm số cao nhất là:", diem_cao_nhat)
print("Điểm số thấp nhất là:", diem_thap_nhat)

Điểm số cao nhất là: 10
Điểm số thấp nhất là: 9.4

In [37]:
# In ra tên của học sinh có điểm số cao nhất và thấp nhất
hoc_sinh_cao_nhat = [ten for ten, diem in diem_hoc_sinh if diem == diem_cao_nhat][0]
hoc_sinh_thap_nhat = [ten for ten, diem in diem_hoc_sinh if diem == diem_thap_nhat][0]
print("Học sinh có điểm số cao nhất là:", hoc_sinh_cao_nhat)
print("Học sinh có điểm số thấp nhất là:", hoc_sinh_thap_nhat)

Học sinh có điểm số cao nhất là: An
Học sinh có điểm số thấp nhất là: Dat

### Bài tập 3: Phân loại học sinh

Đội tuyển trượt giải nên bạn bị phân về dạy lớp thường, bạn muốn phân loại các học sinh trong lớp của mình dựa trên điểm số. Cao hơn hoặc bằng 8 là học sinh giỏi.

Yêu cầu:

1. Tạo một danh sách chứa thông tin về điểm số của ít nhất 5 học sinh, mỗi học sinh là một tuple gồm tên và điểm số.
2. Dùng hàm `len()` để tính số lượng học sinh có điểm số cao hơn hoặc bằng 8.
3. Tạo danh sách gồm tên học sinh giỏi trong lớp của bạn.
4. Hiện tại bạn đã có danh sách học sinh giỏi để nộp lên nhà trường xin giấy khen, hãy dùng hàm tuple() để bảo vệ dữ liệu không bị sửa đổi.

###Answer

In [38]:
# Danh sách điểm số của học sinh
diem_hoc_sinh = [
    ("Ánh", 8.5),
    ("Bình", 9.0),
    ("Cúc", 7.5),
    ("Dung", 9.5),
    ("Giang", 8.0)
]

In [39]:
# Tính số lượng học sinh có điểm số cao hơn hoặc bằng 8
so_luong_hoc_sinh_gioi = len([hoc_sinh for hoc_sinh in diem_hoc_sinh if hoc_sinh[1] >= 8])

In [40]:
so_luong_hoc_sinh_gioi

4

In [41]:
# Tạo danh sách tên học sinh giỏi trong lớp
hoc_sinh_gioi = [hoc_sinh[0] for hoc_sinh in diem_hoc_sinh if hoc_sinh[1] >= 8]

In [42]:
hoc_sinh_gioi

['Ánh', 'Bình', 'Dung', 'Giang']

In [43]:
# Tạo bản sao không thể sửa đổi của danh sách điểm số của học sinh
danh_sach_hoc_sinh_gioi = tuple(hoc_sinh_gioi)

In [44]:
# Thử thêm một học sinh vào danh sách học sinh giỏi
hoc_sinh_gioi.append("An")

In [46]:
# Thử thêm một học sinh vào bản sao danh sách học sinh giỏi
#danh_sach_hoc_sinh_gioi.append("An")

#*End*